# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Data files (assets/data_raw/RCM1_OK1998432_PK1998435_1_5MCP7_20210708_142323_CH_CV_GRD and assets/data_raw/RCM1_OK1998432_PK1998435_2_5MCP7_20210708_142323_CH_CV_GRD)
*assets/data_raw

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
